<button id="generatePdf" class="uk-button uk-button-primary uk-button-small no-print"><span data-uk-icon="icon: file-pdf" class="uk-icon"></span> PDF</button>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const generatePdfButton = document.getElementById('generatePdf');
  const doc_version = "Version {{ site.version }}";
  const company = "{{ site.company }}";

  generatePdfButton.addEventListener('click', async function() {
    const element = document.querySelector('.uk-article');
    const elementsToHide = document.querySelectorAll('.no-print');
    
    elementsToHide.forEach(el => el.classList.add('hide-in-pdf'));

    const options = {
      margin: [20, 20, 20, 20],
      filename: '{{ page.order | slugify }}_{{ page.title | slugify }}.pdf',
      image: { type: 'jpeg', quality: 0.98 },
      html2canvas: { 
        scale: 2, 
        scrollY: 0, 
        useCORS: true, 
        logging: true,
        windowWidth: 1024, // Ajusta este valor según sea necesario
      },
      jsPDF: { 
        unit: 'mm', 
        format: 'a4', 
        orientation: 'portrait',
        compress: true,
      },
      pagebreak: { 
        mode: ['avoid-all', 'css', 'legacy'],
        before: '.page-break-before',
        after: '.page-break-after',
        avoid: ['img', 'table', 'pre', 'h1, h2, h3, h4, h5, h6']
      }
    };

    let progressNotification = UIkit.notification({message: '<span uk-icon=\'icon: file-pdf\' class=\'uk-text-primary\'></span> Generando PDF: 0%', status: 'primary', pos: 'top-center', timeout: 0});

    // Clonar el elemento para no modificar el original
    const clonedElement = element.cloneNode(true);
    const sections = Array.from(clonedElement.children);

    try {
      let pdf;
      const batchSize = 10; // Reducido de 30 a 10
      const totalBatches = Math.ceil(sections.length / batchSize);

      let worker = html2pdf().set(options);

      const processInBatches = async () => {
        for (let i = 0; i < sections.length; i += batchSize) {
          const batchElement = document.createElement('div');
          const batchSections = sections.slice(i, i + batchSize);
          batchSections.forEach(section => batchElement.appendChild(section.cloneNode(true)));
          
          await worker.from(batchElement).toContainer().toCanvas().toPdf().get('pdf').then((pdfResult) => {
            if (!pdf) {
              pdf = pdfResult;
            } else {
              const pdfPages = pdfResult.internal.pages;
              pdfPages.shift(); // Remove the first blank page
              pdfPages.forEach(page => pdf.addPage().addPage(page));
            }
          });

          const progress = Math.min(100, Math.round(((i + batchSize) / sections.length) * 100));
          progressNotification.close();
          progressNotification = UIkit.notification({message: `<span uk-icon='icon: file-pdf' class='uk-text-primary'></span> Generando PDF: ${progress}%`, status: 'primary', pos: 'top-center', timeout: 0});
        }
      };

      await processInBatches();

      const totalPages = pdf.internal.getNumberOfPages();

      for (let i = 1; i <= totalPages; i++) {
        pdf.setPage(i);
        pdf.setFontSize(10);
        pdf.setTextColor(150);
        pdf.text(`${document.title}`, 22, 12);
        pdf.text(`${doc_version}`, pdf.internal.pageSize.getWidth() - 37, 12);
        pdf.line(22, 16, pdf.internal.pageSize.getWidth() - 20 , 16);
        pdf.line(22, pdf.internal.pageSize.getHeight() - 16, pdf.internal.pageSize.getWidth() - 20 , pdf.internal.pageSize.getHeight() - 16);
        pdf.text(`${company}`, 22, pdf.internal.pageSize.getHeight() - 10);
        pdf.text(`${i} / ${totalPages}`, pdf.internal.pageSize.getWidth() - 26, pdf.internal.pageSize.getHeight() - 10);
      }

      await pdf.save(options.filename);

      progressNotification.close();
      UIkit.notification({message: '<span uk-icon=\'icon: check\' class=\'uk-text-success\'></span> PDF generado con éxito!', status: 'success', pos: 'top-center', timeout: 3000});
    } catch (err) {
      console.error('Error al generar PDF:', err);
      progressNotification.close();
      UIkit.notification({message: '<span uk-icon=\'icon: warning\' class=\'uk-text-danger\'></span> Error al generar PDF. Por favor, intente de nuevo.', status: 'danger', pos: 'top-center', timeout: 3000});
    } finally {
      elementsToHide.forEach(el => el.classList.remove('hide-in-pdf'));
    }
  });
});
</script>