/* #region dots */

.dot {
    position: relative;
}

.dot:after {
    position: absolute;
    right: -4px;
    top: -6px;
    min-width: 1px;
    min-height: 1px;
    line-height: 3px;
    padding: 3px;
    color: #fff;
    font-size: 5px;
    border-radius: 10px;
    content: "";
}

/* #endregion dots */

/* #region buttons */
.btn {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 6px;
    padding: 0 8px;
    height: 36px;
    width: max-content;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05), 2px 2px 2px rgba(0, 0, 0, 0.05) !important;
    font-size: 12px;
    font-weight: 800;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.btn-icon {
    height: 36px;
}

/* replace «btn [color]» for «btn btn-text-[color] btn-bg-[color]» */
.btn.white {
    color: rgb(11, 138, 217) !important;
    background-color: rgb(255, 255, 255) !important;
}

.btn.blue {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(11, 138, 217) !important;
}

.btn.gray {
    color: rgb(11, 138, 217) !important;
    background-color: rgb(217, 217, 217) !important;
}

/* button rounded */
.btn-rounded {
    border-radius: 24px;
}

.btn::-moz-focus-inner {
    border: none;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    transition: opacity 0.2s;
}

/* Hover, Focus */
.btn:hover,
.btn {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn:hover::before {
    opacity: 0;
}

.btn::before {
    opacity: 0.15;
}

/* Overlay */
.btn:hover:focus::before {
    opacity: 0.3;
}

/* Active */
.btn:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.btn:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

/* Disabled */
.btn:disabled {
    color: rgba(0, 0, 0, 0.38);
    background-color: rgba(0, 0, 0, 0.12);
    box-shadow: none;
    cursor: initial;
}

.btn:disabled::before {
    opacity: 0;
}

.btn:disabled::after {
    opacity: 0;
}

/* #endregion buttons */

/* #region fab */

.fab {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05), 2px 2px 2px rgba(0, 0, 0, 0.05);
    font-size: 1rem;
    display: inline-block;
    cursor: default;
    line-height: 1.5;
    cursor: pointer;
    opacity: 0.95;
}

.fab:hover {
    opacity: 1;
}

.fab svg {
    vertical-align: middle;
    height: 36px !important;
}

/* #endregion fab */
