---
# Only the main Sass file needs front matter (the dashes are enough)
---

// System fonts
@import "system-font-css/_system-font";
@import "../css/mdi.css";
@import "/assets/css/colors.css";
@import "/assets/css/icons.css";
@import "/assets/css/buttons.css";

// Custom variables and variable overwrites.
@import "theme/variables";

// Import default variables and available mixins.
@import "uikit/variables-theme";
@import "uikit/mixins-theme";

// Custom mixin overwrites.
@import "theme/mixins";

// Import UIkit.
@import "theme/uikit";

// Other vendor styles
// @import "syntax-highlighting/cld";
@import "syntax-highlighting/bw";

/* utilities */

/* #region paddings */

.px-1 {
    padding: 0 0.5rem;
}

.px-2 {
    padding: 0 1rem;
}

.px-3 {
    padding: 0 1.5rem;
}

.px-4 {
    padding: 0 2rem;
}

.px-5 {
    padding: 0 2.5rem;
}

.pr-1 {
    padding-right: 0.5rem;
}

.pr-2 {
    padding-right: 1rem;
}

.pr-3 {
    padding-right: 1.5rem;
}

.pr-4 {
    padding-right: 2rem;
}

.pr-5 {
    padding-right: 2.5rem;
}

.pl-1 {
    padding-left: 0.5rem;
}

.pl-2 {
    padding-left: 1rem;
}

.pl-3 {
    padding-left: 1.5rem;
}

.pl-4 {
    padding-left: 2rem;
}

.pl-5 {
    padding-left: 2.5rem;
}

.pt-1 {
    padding-top: 0.5rem;
}

.pt-2 {
    padding-top: 1rem;
}

.pt-3 {
    padding-top: 1.5rem;
}

.pt-4 {
    padding-top: 2rem;
}

.pt-5 {
    padding-top: 2.5rem;
}

.pb-1 {
    padding-bottom: 0.5rem;
}

.pb-2 {
    padding-bottom: 1rem;
}

.pb-3 {
    padding-bottom: 1.5rem;
}

.pb-4 {
    padding-bottom: 2rem;
}

.pb-5 {
    padding-bottom: 2.5rem;
}

.p-1 {
    padding: 0.5rem;
}

.p-2 {
    padding: 1rem;
}

.p-3 {
    padding: 1.5rem;
}

.p-4 {
    padding: 2rem;
}

.p-5 {
    padding: 2.5rem;
}

/* #endregion paddings */

/* #region font-size */

.fs-1 {
    font-size: 1rem;
}

.fs-2 {
    font-size: 1.5rem;
}

.fs-3 {
    font-size: 2rem;
}

.fs-4 {
    font-size: 2.5rem;
}

.fs-5 {
    font-size: 3rem;
}

/* #endregion font-size */

/* #region line-height */

.lh-1 {
    line-height: 0px;
}

.lh-2 {
    line-height: 8px;
}

.lh-3 {
    line-height: 16px;
}

.lh-4 {
    line-height: 24px;
}

.lh-5 {
    line-height: 32px;
}

/* #endregion line-height */

/* #region custom */

span.whatsapp-icon svg {
    padding-bottom: 4px !important;
}

/* #endregion */

/* #region shadow */

.box-shadow {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
}

/* #endregion shadow */

/* #region round */

.rd-0 { border-radius: 1px;}
.rd-1 { border-radius: 4px;}
.rd-2 { border-radius: 8px;}
/* #endregion round */