---
# Only the main Sass file needs front matter (the dashes are enough)
---

// System fonts
@import "system-font-css/_system-font";
@import "../css/mdi.css";

// Custom variables and variable overwrites.
@import "theme/variables";

// Import default variables and available mixins.
@import "uikit/variables-theme";
@import "uikit/mixins-theme";

// Custom mixin overwrites.
@import "theme/mixins";

// Import UIkit.
@import "theme/uikit";

// Other vendor styles
// @import "syntax-highlighting/cld";
@import "syntax-highlighting/bw";

// button style
.icon {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 2px;
    padding: 0 8px;
    height: 36px;
    min-width: 40px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    border-bottom: 0px !important;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
    margin-right: 8px;
}
.icon.blue::before {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(11, 138, 217) !important;
}
.icon.white::before {
    color: rgb(11, 138, 217) !important;
    background-color: rgb(255, 255, 255) !important;
}
.icon.gray::before {
    color: rgb(185, 185, 185) !important;
    background-color: rgb(255, 255, 255) !important;
}
.btn {
	position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 2px;
    padding: 0 8px;
    height: 36px;
    width: max-content;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    border-bottom: 0px !important;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-size: 12px;
    font-weight: 800;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
}
.btn.blue {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(11, 138, 217) !important;
}
.btn.gray {
    color: rgb(11, 138, 217) !important;
    background-color: rgb(217, 217, 217) !important;
}
.btn.white {
    color: rgb(11, 138, 217) !important;
    background-color: rgb(255, 255, 255) !important;
}
.btn::-moz-focus-inner {
    border: none;
}
.btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    transition: opacity 0.2s;
}
/* Hover, Focus */
.btn:hover,
.btn {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn:hover::before {
    opacity: 0.08;
}

.btn::before {
    opacity: 0.24;
}
/* Overlay */
.btn:hover:focus::before {
    opacity: 0.3;
}

/* Active */
.btn:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.btn:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

/* Disabled */
.btn:disabled {
    color: rgba(0, 0, 0, 0.38);
    background-color: rgba(0, 0, 0, 0.12);
    box-shadow: none;
    cursor: initial;
}

.btn:disabled::before {
    opacity: 0;
}

.btn:disabled::after {
    opacity: 0;
}

span.whatsapp-icon svg {
    padding-bottom: 4px !important;
}

/* AMOvil CSS */

.fab {
    background: #03A9F4;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    color: #FFF;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.05), 2px 2px 2px rgba(0,0,0,0.05);
/*   */
    font-size: 1rem;
    display: inline;
    cursor: default;
    font-weight: 700;
    line-height: 1.5;
}
.fab span {
vertical-align: middle;
}