/* #region colors */

/* text ==> [color] */
.cl- {
    color: #fff !important;
}

.cl-white {
    color: #fff !important;
}

.cl-blue {
    color: #0b8ad9 !important;
}

.cl-gray {
    color: #b9b9b9 !important;
}

.cl-black {
    color: #212427 !important;
}

.cl-red {
    color: #fe0003 !important;
}

.cl-orange {
    color: #ff7513 !important;
}

.cl-green {
    color: #258727 !important;
}

.cl-yellow {
    color: #fde559 !important;
}

.cl-lime {
    color: #57fc30 !important;
}

/* background ==> bg-[color] */
.bg-white {
    background-color: #ffffff !important;
}

.bg-blue {
    background-color: #0189f7 !important;
}

.bg-blue-25 {
    background-color: #b0d3ef !important;
}

.bg-blue-50 {
    background-color: #73baf2 !important;
}

.bg-blue-75 {
    background-color: #2196f3 !important;
}

.bg-gray {
    background-color: #b9b9b9 !important;
}

.bg-red {
    background-color: #fe0003 !important;
}

.bg-orange {
    background-color: #ff7513 !important;
}

.bg-green {
    background-color: #258727 !important;
}

.bg-yellow {
    background-color: #fde559 !important;
}

.bg-lime {
    background-color: #57fc30 !important;
}

/* border ==> bd-[color] */
.bd-white {
    border: #fff 1px solid !important;
}

.bd-blue {
    border: #0189f7 1px solid !important;
}

.bd-gray {
    border: #b9b9b9 1px solid !important;
}

.bd-black {
    border: #212427be 1px solid !important;
}

.bd-orange {
    border: #ff7513 1px solid !important;
}

.bd-red {
    border: #fe0003 1px solid !important;
}

.bd-green {
    border: #258727 1px solid !important;
}

.bd-yellow {
    border: #fde559 1px solid !important;
}

.bd-lime {
    border: #57fc30 1px solid !important;
}

/* after-[color] */
.bg-af-red:after {
    background-color: #fc706e;
}

.bg-af-green:after {
    background-color: #5fb976;
}

/* #endregion colors */