.hide-in-pdf {
    display: none !important;
  }
  
  /* Mantenemos las otras reglas para la impresión normal del navegador */
  @media print {
    body {
      font-size: 12pt;
      line-height: 1.5;
    }
  
    h1, h2, h3, h4, h5, h6 {
      page-break-after: avoid;
      page-break-inside: avoid;
    }
  
    img, table, figure {
        page-break-inside: avoid;
      }

    p, h2, h3 {
    orphans: 3;
    widows: 3;
    }
  
    pre, blockquote {
      page-break-inside: avoid;
    }
  
    ul, ol, dl {
      page-break-before: avoid;
    }

    section {
        page-break-inside: avoid;
    }
  
    #generatePdf, #pdfStatus, .no-print {
      display: none !important;
    }
  }