---
layout: default
published: true
---

<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid-large" data-uk-grid>

            <div class="sidebar-fixed-width uk-visible@m">
                <div class="sidebar-docs uk-position-fixed uk-margin-top">
            
                    <ul id="docs-accordion" uk-accordion="multiple: false" class="uk-nav-default doc-nav">
            
                        {% for section in site.data.navigation_docs %}

                            {% assign section_id = section.title | slugify %}
                            
                            <li data-section-id="{{ section_id }}" class="{% if doc_url == page.url %}uk-open{% endif %} uk-card uk-card-default uk-margin-small-bottom uk-border-rounded">
                                
                                <a class="uk-accordion-title uk-padding-small uk-flex uk-flex-middle uk-flex-between" href="#">
                                    <div class="uk-text-bold">{{ section.title }}</div>
                                    <span uk-accordion-icon></span>
                                </a>
                                
                                <div class="uk-accordion-content uk-padding-small">
                                    
                                    <ul class="uk-nav uk-nav-default doc-nav">
                                        {% for doc in section.docs %}
                                            {% assign doc_url = doc | prepend:"/docs/" | append:"/" %}
                                            {% assign p = site.docs | where:"url", doc_url | first %}
                                            {% assign active_id = p.url | replace:'/docs/','' | replace:'/','' %}
                                            
                                            <li class="{% if doc_url == page.url %}uk-active{% endif %}" {% if doc_url == page.url %}id="active-nav-item-{{ active_id }}"{% endif %}>
                                                <a href="{{ p.url | relative_url }}">{{ p.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                        
                        {% endfor %}
            
                    </ul>
                </div>
            </div>

            <div class="uk-width-1-1 uk-width-expand@m">

                <article class="uk-article">

                    <h1 class="uk-article-title">{{ page.title | escape }}</h1>

                    {% if page.subtitle %}<p class="uk-text-lead uk-text-muted">{{ page.subtitle }}</p>{% endif %}

                    <div class="uk-flex uk-flex-between uk-flex-middle">
                        <div class="uk-article-meta uk-margin-top uk-margin-medium-bottom uk-flex uk-flex-middle">
                                {% include post-meta.html %}
                        </div>
                        {% include pdf-versions.html %}
                    </div>


                    <div class="article-content link-primary">
                        {{ content }}
                        {% if site.share.doc %}
                            {% include share.html %}
                        {% endif %}
                    </div>

                    {% include hook-post-content-doc.html %}

                    <hr class="uk-margin-medium">

                    {% include paginate-docs.html %}

                    {% include related-docs.html %}

                    {% if site.disqus.shortname %}
                        {% include disqus_comments.html %}
                    {% endif %}

                </article>

                <script>
                    // Table of contents scroll to
                    UIkit.scroll('#markdown-toc a', {
                        duration: 400,
                        offset: 120
                    });
                </script>

                {% include accordion.html %}

            </div>
        </div>
    </div>
</div>
